xmlrunner/
logs/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
.coverage
staticfiles/

staticfiles/

### Dev files ###
.idea/
.venv/
.makerc
.settings/


### Vim file ###
*~
*.swp
*.swo
